<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Home Page Users</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://img.freepik.com/premium-vector/mafia-mascot-logo-esport-design_142989-302.jpg?w=740" alt="Logo" width="80" height="64"   class="d-inline-block align-text-top">
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
            </ul>
            <span class="navbar-text">
                <div class="container mt-5">
                    <div class="container mb-3">
                        <a class="navbar-text" href=""><button>Log Out</button></a>
                    </div>
            </span>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
        <div class="container mb-3">
            <a class="navbar-text" href=""><button>Tambah Pesanan</button></a>
        </div>
    <% data.forEach(function(x){ %>
    <div class="container-md border mb-4">
        <div>
            <h3><%= x.name %></h3>
            <a href="#" class="btn btn-primary">Open Category</a>
        </div>
                <% x.Courses.forEach(function(el){ %>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title"><%= el.name %></h5>
                          <p class="card-text">Description : <br><%= el.description %></p>
                          <p>Duration : <br><%= el.duration %></p>
                        </div>
                      </div>
                <% }) %>
    </div>
    <% }) %>
</div>
</body>
</html>